/* article */
.form{
    padding: 50px;
    text-align: center;
    justify-content: center;
    display: grid;
    line-height: 10px;
}
.boton{
    background-color: rgb(174, 177, 165);
    box-sizing: 2px;
    width: 100px;
    line-height: 25px;
}
h4{
    font-size: 15px;
    font-family: $font1;
}