 /* section */
section {
    & .container {
        display: grid;
        grid-template-columns: auto auto; 
    }
    & h3 {
        text-align: center;
        font-family: "Cormorant Garamond", serif;
        background-color: rgb(218, 209, 191);
        margin-top: 10px !important;
        margin-bottom: 30px !important;
    }
    & #dormitorio {
        display: flex;
        justify-content: center;
        margin: auto;
        &:hover{
            opacity: 0.7;
        }
    }
}

