/*header  */
/*variables*/ 
$color1: rgb(218, 209, 191);
$color2: black;
$color3:rgb(146, 127, 90);
$font1: "Cormorant Garamond", serif;

header{
    background-color: $color1!important;
    color: $color2!important;
    text-align: center!important;   
    & h1{
        animation-duration: 3s!important;
        animation-name: aparecer!important;
        animation-delay: 5s!important;
        animation-iteration-count: infinite!important;
        font-family: $font1!important;
        font-size: 20px!important;
    }
    @keyframes aparecer {
        0%{opacity: 0;}
        100% { opacity: 1;}
    }  
} 
