 /* main */

h3{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px!important;
    background-color: $color1;
}
#living{ height: 400px; width: 400px!important;}
#dormitorio{ height: 400px; width: 400px!important;}
#cocina{ height: 400px; width: 400px!important;}
#organizadores{ height: 400px; width: 400px!important;}