     /* article */
    
    article {
    & h3{
        width: 100%;
        text-align: center;
        font-family: $font1;
        font-size: 20px!important;
        background-color: $color1;
        margin-top: 20px!important;
    }
    & #destacados{
        display: flex;
        align-content: center;
        margin: auto;
    }
}