 /* nav */
nav {
    & a {
        text-decoration: none !important;
        color: black !important;
        padding: 20px !important;
        font-size: 20px !important;
        text-align: center !important;
        font-family: "Cormorant Garamond", serif !important;
    }
    & #Birkin {
        font-size: 30px !important;
        padding-top: 11px !important;
        font-family: "Cormorant Garamond", serif !important;
        font-weight: bold;
    }
    & a:hover {
        color: rgb(146, 127, 90) !important;
    }
    & .dropdown-item {
        font-family: "Cormorant Garamond", serif !important;
        margin: auto !important;
    }
}